* {
  margin: 0;
  padding: 0;
}

body {
  background: #ff7676;
  font-family: Dosis, sans-serif;
  color: white;
  font-weight: 600;
  transition: all 500ms;
}

.answerBtn {
  border: none;
  color: white;
  background-color: rgba(255, 66, 66, 65);
  width: 22.5vmin;
  height: 9vmin;
  border-radius: 6px;
  font-size: 5vmin;
  text-align: center;
  font-family: Dosis, sans-serif;
  margin: 1.2vh 4vw;
}

button {
  cursor: pointer;
  transition: all 200ms;
}

.answerBtn:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
}

.answerBtn:active {
  transform: scale(0.95);
  -webkit-box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0);
  -moz-box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 30px 1px rgba(255, 255, 255, 0);
}

img {
  color: white;
  filter: invert(1);
  width: 30px;
}

.content {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#optionsBtn {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

#questionEl {
  font-size: 32vmin;
  font-weight: 400;
  text-align: center;
  color: white;
  line-height: 40.5vmin;
  margin: 7vh 0;
  pointer-events: none;
}

#navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.5vh;
}

.answerBtns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vh;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font-size: 4vmin;
}

.greenBackground {
  background: #7bff76;
}

.greenBtn {
  background-color: rgb(75, 233, 96, 65);
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#settings {
  margin: 0 auto;
  height: 40%;
  width: 40%;
  background-color: #dd5151;
  top: 25%;
  position: relative;
  border-radius: 10px;
  padding: 0.1vh;
}

#closeBtn {
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: none;
}

h3 {
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  font-size: 2.5vmin;
}

#settings img {
  width: 20px;
}

#settings h2 {
  font-size: 3vmin;
}
