:root {
    --main-color: #ff7676;
    --secondary-color: #ff5454;
    --text-color: white;
    --border-rad: 6px;
    --header-fs: clamp(1.5rem, 0.426rem + 1.31vw, 2rem);
    --question-fs: clamp(6rem, 3.705rem + 5.25vw, 10rem);
    --button-fs: clamp(2rem, -0.148rem + 2.62vw, 3rem);
    --i-fs: clamp(1.25rem, 1.107rem + 0.33vw, 1.5rem);
    --doc-height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Baloo 2", sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    height: var(--doc-height);
    background-color: var(--main-color);
    transition: background-color 300ms;
}

html {
    height: 100vh;
    height: var(--doc-height);
}

i {
    display: block;
    cursor: pointer;
}

#reset-btn {
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: var(--border-rad);
    transition: all 200ms;
    transition: background 300ms;
}

#reset-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, 0.1);
}

#reset-btn:active {
    transform: scale(0.95);
}

.answer-btn {
    background: var(--secondary-color);
    border-radius: var(--border-rad);
    transition: transform 200ms, box-shadow 200ms, opacity 200ms;
    border: none;
    cursor: pointer;
    transition: background 300ms;
}

.answer-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, 0.1);
}

.answer-btn:active {
    transform: scale(0.95);
}

#overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: var(--doc-height);
    width: 100%;
    top: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 200ms;
    overflow-y: hidden;
}

/* Typography */

h1 {
    font-size: var(--header-fs);
    font-weight: 700;
}

h2 {
    font-size: var(--header-fs);
    /* padding: 1em 0; */
}

i {
    font-size: var(--i-fs);
}

input[type="text"] {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input::-moz-placeholder {
    color: var(--text-color);
}

label {
    font-size: 1rem;
    flex: 1;
    text-align: left;
    font-weight: 600;
}

#reset-btn {
    font-size: 1.5rem;
    text-align: center;
}

.answer-btn {
    font-size: var(--button-fs);
}

#question-el {
    font-size: var(--question-fs);
}

/* Layout */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 0.8em;
    height: calc(2.5 * var(--header-fs));
}

.content {
    height: calc(var(--doc-height) - (2.5 * var(--header-fs)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.answer-btns {
    display: grid;
    row-gap: 2em;
    justify-content: center;
}

.answer-btn {
    width: 4em;
    line-height: 1.5em;
    justify-self: center;
}

#reset-btn {
    width: 4em;
    line-height: 1.5em;
    margin: 0 1.5rem;
    bottom: calc(-20% + 2em);
    position: relative;
}

#settings-div {
    background-color: var(--main-color);
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    height: 70%;
    text-align: right;
    transition: background-color 300ms;
}

#settings {
    text-align: left;
    height: calc((100% - var(--header-fs) * 2.5) - 20%);
    margin: 0 2em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color {
    width: 100%;
    max-width: 180px;
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
}

.toggle {
    width: 100%;
    max-width: 180px;
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
}

.color:first-child {
    margin-top: 0;
}

.color:last-child {
    margin-bottom: 0;
}

input[type="text"] {
    display: none;
    margin: 0 1em;
    border: none;
    border-radius: var(--border-rad);
    width: 100px;
    background-color: var(--secondary-color);
    transition: background-color 300ms;
}

input[type="color"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    border: 2px red solid;
    border-radius: var(--border-rad);
    cursor: pointer;
    margin: 0 0.5rem;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.05);
    transition: 300ms;
}

input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 4px;
    transition: 300ms;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
    transition: 300ms;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    transition: 300ms;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.4rem;
    flex-grow: 0;
    flex-basis: auto;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(203, 203, 203);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.1rem;
    width: 1.1rem;
    left: 0.15rem;
    bottom: 0.15rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 50%;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.8em;
}

#error {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(5em);
    padding: 1rem;
    border-radius: var(--border-rad);
    background-color: var(--secondary-color);
    transition: background-color 300ms;

    box-shadow: 0px 0px 40px 7px rgba(0, 0, 0, 0.349);
    animation: pop-up 1.5s;
}

@media (min-width: 600px) {
    #settings {
        align-items: start;
    }
    .color {
        max-width: 310px;
    }
    input[type="text"] {
        display: inline-block;
    }
    .answer-btns {
        grid-template: 1fr 1fr / 1fr 1fr;
        width: 80%;
    }

    .content {
        justify-content: space-evenly;
    }
}

@media (min-width: 1000px) {
    .answer-btns {
        grid-template-columns: repeat(4, 1fr);
        width: 70%;
    }

    .content {
        justify-content: space-evenly;
    }
}

@keyframes pop-up {
    0% {
        transform: translateY(5em);
    }
    15% {
        transform: translateY(-8em);
    }
    85% {
        transform: translateY(-8em);
    }
    100% {
        transform: translateY(5em);
    }
}
